<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main class="app">
        <h1>状态过渡</h1>
        <fold-block caption="状态动画与侦听器">
            <input v-model="num" type="number"/><br/>
            {{tweenNumInt}}

            <br/>
            <input type="range" min="0" max="100" v-model="inputRangeValue" style="width:300px"/>
            <br/>
            <input type="range" min="0" max="100" v-model="tweenInputRangeValue" style="width:300px" disabled/>

            <p>animate-integer 组件</p>
            <animate-integer :num="+inputRangeValue"></animate-integer>
        </fold-block>
        <fold-block caption="把过渡放到组件里">
            <input type="number" v-model="operand1"/> + <input type="number" v-model="operand2"/> = <animate-integer :num="+operand1 + +operand2"></animate-integer>
        </fold-block>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/2.0.5/velocity.js"></script>
    <script src="../../node_modules/lodash/lodash.js"></script>
    <script type="module" src="./script.js"></script>
</body>
</html>