<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渲染函数&amp;JSX</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main class="app">
        <h1>渲染函数&amp;JSX</h1>
        <fold-block caption="基础">
            <header-tag v-for="level in 6" :level="level">一个h{{level}}标题</header-tag>
            <list-tag ordered>
                <li>首先</li>
                <li>然后</li>
                <li>最后</li>
            </list-tag>
        </fold-block>
        <fold-block caption="节点、树及虚拟 DOM">
            <list-with-header :level="3" header="列表标题">
                <li>Watermelon</li>
                <li>Banana</li>
                <li>Apple</li>
            </list-with-header>
        </fold-block>
        <fold-block caption="createElement 参数">
            <render-test></render-test>
        </fold-block>
        <fold-block caption="使用 JavaScript 代替模板功能">
            <js-controled-template></js-controled-template>
            <h3>插槽</h3>
            <js-scope-slots-parent></js-scope-slots-parent> 
            <h3>插槽2</h3>
            <js-slots></js-slots>
        </fold-block>
        <fold-block caption="JSX">
            <jsx-syntax my-tag="标签">
                <span slot="scopedSlotName" slot-scope="scope">scope 内容: {{scope}}</span>
                默认插槽内容
            </jsx-syntax>
        </fold-block>
        <fold-block caption="函数式组件">
            <functional-component :level="3">表格</functional-component>
            <button @click="deleteRow">shift</button>
            <functional-component :data="surfaceList"></functional-component>
        </fold-block>
        <fold-block caption="插件">
            延后
        </fold-block>
        <fold-block caption="过滤器" open>
            <p>43.55 -> {{"43.55" | int}}</p>
            <p>
                {{123456789.123456789 | round(-roundDigit)}}
                <br/>
                有效位数：<input type="range" title="roundDigit" v-model="roundDigit" min="-8" max="8"/>
            </p>
        </fold-block>
    </main>

    <script type="module" src="./script.js"></script>
</body>
</html>
